<table role="presentation" class="es-header-body" align="center" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" class="es-header" align="center">
                <tbody>
                <tr>
                    <td class="esd-stripe esd-synchronizable-module" align="center">
                        <table class="es-header-body" align="center" cellpadding="0" cellspacing="0"
                               width="640">
                            <tbody>
                            <tr>
                                <td class="esd-structure es-p10t es-p10b es-p20r es-p20l" align="left"
                                    style="background-color: #32324e;">
                                    <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                        <tr>
                                            <td width="560" class="es-m-p0r esd-container-frame"
                                                valign="top" align="center">
                                                <table cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center"
                                                            class="esd-block-image es-p10t es-p10b"
                                                            style="font-size: 0px;">
                                                            <img src="https://i.ibb.co/prg9T7J/Karat-mail-header-min.jpg"
                                                                 alt="Logo"
                                                                 style="max-width: 100%; height: auto"
                                                                 title="Logo">
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>